html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1e1e;
}


* {
  box-sizing: border-box;

}

pre, code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:hover, &:active {
    text-decoration: none;
  }
}

div {
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #e3e3e3;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer{
    background: #f7f7f7;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.navsub-enter {
  opacity: 0;
  transform: scale(0.9);
}
.navsub-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.navsub-exit {
  opacity: 1;
}
.navsub-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
